In [ ]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/CSf320/dataset_LP_1.csv',header=None) #importing data

df[[0,1,2,3]]=(df[[0,1,2,3]]-df[[0,1,2,3]].mean(axis=0))/df[[0,1,2,3]].std(axis=0) #normalization
df.head()

          0         1         2         3  4
0  1.121397  1.149036 -0.975614  0.354432  0
1  1.446538  1.064065 -0.894710 -0.128721  0
2  1.207369 -0.777069  0.122174  0.617848  0
3  1.063355  1.295005 -1.254940 -1.143612  0
4 -0.036758 -1.086642  0.736462  0.096552  0

In [ ]:
#Splitting
train,test = np.split(df.sample(frac=1, random_state=1000),[int(0.7 * len(df))])

In [ ]:
train=np.array(train)
test=np.array(test)

In [ ]:
train_X=train[:,:4]
train_y=train[:,4]
test_X=test[:,:4]
test_y=test[:,4]

In [ ]:
np.random.seed(0)

#initialising w 
w=np.random.randn(train_X.shape[1])

In [ ]:
n_iters=1000 # number of iterations
lr=0.1 # learning rate

In [ ]:
#function to determine w and b
def perceptron(train_X,train_y,w,lr):
  error=[]
  m=train_X.shape[0] #number of training instances
  n=train_X.shape[1] # number of features in data set
  for i in range(n_iters):
    e=0
    for j in range(m):
      layer=np.dot(train_X[j,:],w)
      output=layer
      output=np.where(output>=0.5,1,0)
      e+=(output-train_y[j])**2
      if((output-train_y[j])==0): #Hebbian Learning Rule
        continue
      else:
        for k in range(n):
          w[k]+=lr*train_y[j]*train_X[j][k] #weight updation
        #b=b+lr*train_y[j] #bias updation
    error.append(e)
  return w,error

In [ ]:
w,error=perceptron(train_X,train_y,w,lr) #to call perceptron function
print("Weights are",w)

Weights are [-1.24853232 -1.52645274 -1.3736276  -0.07925988]

In [ ]:
#evaluation for training and validation set
def evaluate(X,w):
  layer=np.dot(X,w)
  input=layer 
  output = np.where(input>=0.5,1,0)

  return output

In [ ]:
test_pred=evaluate(test_X,w)
test_pred=np.where(test_pred>=0.5,1,0)

In [ ]:
cm=pd.crosstab(test_y,test_pred)
tp=cm[0][0]
fp=cm[0][1]
fn=cm[1][0]
tn=cm[1][1]
print('Confusion matrix for test set is\n',cm)

Confusion matrix for test set is
 col_0    0    1
row_0
0.0    223    5
1.0      0  184

In [ ]:
pd.crosstab(test_y,test_pred)

col_0    0    1
row_0
0.0    223    5
1.0      0  184

In [ ]:
print('Accuracy is',(tp+tn)*100/len(test_y))

Accuracy is 98.7864077669903

In [ ]:
np.sum(test_pred == test_y )/len(test_y)

0.9878640776699029